$colorFont:rgb(255, 255, 255);
$colorGradientBack1:rgb(37, 32, 32);
$colorGradientBack2:rgb(22, 22, 22);
$colorBackScroll:rgb(44, 44, 44);
$colorScroll:rgb(68, 68, 68);
$colorScrollHover:rgb(102, 102, 102);

header {
    background: linear-gradient(to top, $colorGradientBack1, $colorGradientBack2);
    color: $colorFont;
    padding: 1px;
    position: fixed;
    width: 100%;
    top: 0; 
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    text-align: center;

    a {
        text-decoration: none; 
        color: $colorFont;   
        transition: color 0.3s ease;

        &:hover {
            color: rgb(214, 214, 214);
        }
    }

    font: {
        size: 22px;
    }

    ul {
        text-align: center;      
        margin: 25px 0; 
        padding: 0 10px; 
    }

    .linkRegister {
        float: right;
    }

    .linkHome {
        float: left;
    }

    li {
        display: inline;
        margin: 0 20px;
        position: relative;
        border-bottom: 2px solid transparent; 
        transition: border-bottom 0.4s ease-in-out;
        padding-bottom: 3px;

        &:hover {
            border-bottom: 1px solid rgb(167, 167, 167);
        }
    }
}

main {
    flex: 1;
}

footer {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    background: linear-gradient(to bottom, $colorGradientBack1, $colorGradientBack2);
    box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.5);
    color: $colorFont; 
    box-sizing: border-box; 
    text-align: center;

    font: {
        size: 22px;
    }

    p {
        display: inline-block;
        margin-right: 50px;
        font-weight: bold;
    }

    label {
        font-weight: bold;
        display: inline;
    }

    span {
        font-style: italic;
        margin-right: 50px;
    }

    div {
        display: inline-block;
    }
}

::-webkit-scrollbar {
    width: 20px; /* Largura da barra de rolagem */
    background-color: $colorBackScroll; /* Cor de fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: $colorScroll; /* Cor do "thumb" da barra de rolagem */
    border-radius: 6px; /* Arredondar os cantos do "thumb" */
    border: 3px solid $colorBackScroll; /* Borda ao redor do "thumb" */
}

::-webkit-scrollbar-thumb:hover {
    background-color: $colorScrollHover; /* Cor do "thumb" quando está em hover */
}

  /* Estiliza a barra de rolagem para o navegador Firefox */
scrollbar {
    appearance: inherit;
    -moz-appearance: none; /* Remove o estilo padrão */
    width: 12px; /* Largura da barra de rolagem */
}

scrollbar-thumb {
    background-color: $colorScroll; /* Cor do "thumb" da barra de rolagem */
    border-radius: 6px; /* Arredondar os cantos do "thumb" */
}

scrollbar-thumb:hover {
    background-color: $colorScrollHover; /* Cor do "thumb" quando está em hover */
}